.my-drop-zone {
    height: 20vh;
    margin-top: 12px;
    border: dotted 3px lightgray;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nv-file-over {
    border: dotted 3px cyan;
    color: cyan;
}

.queue {
    margin-top: 12px;
}

.queue-progress {
    margin-top: 12px;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    padding-left: 6px;
    padding-right: 6px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

table {
    width: 100%
}

.upload-button,
.cancel-button,
.delete-button {
    letter-spacing: normal;

    & mat-icon {
        padding-top: 16px;
        margin-right: 4px;
    }
}
