.my-drop-zone {
    height: 20vh;
    margin-top: 12px;
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px cyan;
}

.queue {
    margin-top: 12px;
}

.queue-progress {
    margin-top: 12px;
}

.mat-cell,
.mat-header-cell {
    padding-left: 6px;
    padding-right: 6px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

table {
    width: 100%
}
