<div *ngIf="uploader$ | async as uploader">
    <div class="file-select">
        <h2>Upload Files</h2>

        <div class="form-group">
            <input type="file" ng2FileSelect [uploader]="uploader" multiple />
        </div>

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="my-drop-zone"
             fxLayout="row"
             fxLayoutAlign="center center">
            <span>Drop Files Here</span>
        </div>
    </div>

    <div class="queue">
        <h3>Upload Queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table mat-table [dataSource]="uploader?.queue" #uploadTable>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let item">{{ item.file.name }}</td>
            </ng-container>
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef class="text-right">Size</th>
                <td mat-cell *matCellDef="let item" class="text-right">{{ item?.file?.size | fileSize }}</td>
            </ng-container>
            <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef>Progress</th>
                <td mat-cell *matCellDef="let item">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let item">
                    <span *ngIf="item.isSuccess">ok</span>
                    <span *ngIf="item.isCancel">cancelled</span>
                    <span *ngIf="item.isError">removed</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="upload">
                <th mat-header-cell *matHeaderCellDef class="text-center">Upload</th>
                <td mat-cell *matCellDef="let item" class="text-center">
                    <button type="button" mat-button (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess" class="upload-button">
                        <mat-icon [inline]="true">cloud_upload</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="cancel">
                <th mat-header-cell *matHeaderCellDef class="text-center">Cancel</th>
                <td mat-cell *matCellDef="let item" class="text-center">
                    <button type="button" mat-button (click)="item.cancel()" [disabled]="!item.isUploading" class="cancel-button">
                        <mat-icon [inline]="true">close</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="remove">
                <th mat-header-cell *matHeaderCellDef class="text-center">Remove</th>
                <td mat-cell *matCellDef="let item" class="text-center">
                    <button type="button" mat-button (click)="item.remove()" class="delete-button">
                        <mat-icon [inline]="true">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>

        <div class="queue-progress">
            <div>
                Queue progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <button type="button" mat-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" class="upload-button">
                    <mat-icon [inline]="true">cloud_upload</mat-icon> Upload All
                </button>
                <button type="button" mat-button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading" class="cancel-button">
                    <mat-icon [inline]="true">close</mat-icon> Cancel All
                </button>
                <button type="button" mat-button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length" class="delete-button">
                    <mat-icon [inline]="true">delete</mat-icon> Remove All
                </button>
            </div>
        </div>
    </div>
</div>
