@import '~@angular/material/theming';

@mixin app-upload-component-theme($theme) {
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .upload-button {
        color: mat-color($accent);
    }

    .cancel-button,
    .delete-button {
        color: mat-color($warn);
    }
}
