table {
    width: 100%;
    margin-bottom: 12px;
}

.download-button,
.delete-button {
    letter-spacing: normal;

    & mat-icon {
        padding-top: 16px;
        margin-right: 4px;
    }
}

.mat-mdc-button.download-button-table mat-icon,
.mat-mdc-button.delete-button-table mat-icon {
    margin-right: 0 !important;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    padding-left: 6px;
    padding-right: 6px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
