<h2>Remote Files</h2>

<p *ngIf="(sourceFiles$ | async).length == 0">No files available</p>

<table *ngIf="(sourceFiles$ | async).length > 0">
    <tr>
        <th class="text-left"></th>
        <th class="text-left" *ngIf="showUsername">User</th>
        <th class="text-left">Filename</th>
        <th class="text-right">Uploaded</th>
        <th class="text-right">Size</th>
        <th class="text-center">Download</th>
        <th class="text-center">Delete</th>
        <th class="text-center"><input type="checkbox" class="align-middle" (click)="toggleFiles(toggle.checked)" #toggle /></th>
    </tr>

    <tr *ngFor="let file of files; trackBy: trackByFile" [@listItemAnimation]>
        <td class="text-left"><app-file-thumbnail [relativeFilePath]="file.location.relativePath"></app-file-thumbnail></td>
        <td class="text-left" *ngIf="showUsername">{{file.location.username}}</td>
        <td class="text-left">{{file.location.filename}}</td>
        <td class="text-right">{{file.creationTime | relativeDate}}</td>
        <td class="text-right">{{file.sizeInBytes | fileSize}}</td>
        <td class="text-center download-button">
            <mat-icon [inline]="true" (click)="downloadSingle(file)">cloud_download</mat-icon>
        </td>
        <td class="text-center delete-button">
            <mat-icon [inline]="true" (click)="deleteSingle(file)" color=''>delete</mat-icon>
        </td>
        <td class="text-center"><input type="checkbox" class="mt-2" [(ngModel)]="file.isChecked" /></td>
    </tr>

    <tr>
        <td *ngIf="showUsername"></td>
        <td colspan="7" class="text-right">
            <button type="submit" (click)="downloadSelected()" mat-button class="download-button">
                <mat-icon [inline]="true">cloud_download</mat-icon> Download Selected
            </button>
            <button type="submit" (click)="deleteSelected()" mat-button class="delete-button">
                <mat-icon [inline]="true">delete</mat-icon> Delete Selected
            </button>
        </td>
    </tr>
</table>
