@use '~@angular/material' as mat;

@mixin app-file-listing-component-theme($theme) {
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .download-button {
        color: mat.get-color-from-palette($accent);
    }

    .delete-button {
        color: mat.get-color-from-palette($warn);
    }
}
