<mat-sidenav-container [autosize]="true" fxFlexFill fxLayout>
    <mat-sidenav disableClose #startSidenavRef mode="side" [opened]="true" class="mat-elevation-z8" fxFlex="none">
        <div fxLayout="column" fxLayoutAlign="space-between" fxFlex>
            <div fxLayout="column">
                <app-home-link></app-home-link>
            </div>

            <div fxLayout="column">
                <app-help-link></app-help-link>
                <app-settings-link></app-settings-link>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlex>
        <app-download-handler></app-download-handler>
        <ng-container *ngTemplateOutlet="routerTemplate"></ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
