@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
    $font-family: '-apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.typography-hierarchy($custom-typography);
@include mat.core();

@import 'themes/dark-theme';
@import 'themes/light-theme';
@import 'themes/mulled-wine-theme';
@import 'themes/pale-night-theme';

// https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@import 'app/app.component.theme';
@import 'app/help/help/help.component.theme';
@import 'app/home/file-listing/file-listing.component.theme';
@import 'app/home/upload/upload.component.theme';

@mixin primary-nav-button-theme($theme) {
    $accent: map-get($theme, accent);

    a.primary-nav-button.active,
    a.primary-nav-button:hover {
        background-color: rgba(mat.get-color-from-palette($accent, 700), .62);
        color: mat.get-color-from-palette($accent, 100);
    }
}

@mixin color-theme($theme) {
    @include mat.all-component-colors($theme);
    @include custom-components-theme($theme);
}

// you only have to add additional componenets here (instead of in every theme class)
@mixin custom-components-theme($theme) {
    @include app-component-theme($theme);

    @include app-help-component-theme($theme);

    @include app-file-listing-component-theme($theme);
    @include app-upload-component-theme($theme);

    @include primary-nav-button-theme($theme);
}

// define dark as the default theme
// reference: https://material.angular.io/guide/theming#multiple-themes
@include mat.all-component-themes($maw-dark-theme);
@include custom-components-theme($maw-dark-theme);

.maw-light-theme {
    @include color-theme($maw-light-theme);
}

.maw-mulled-wine-theme {
    @include color-theme($maw-mulled-wine-theme);
}

.maw-pale-night-theme {
    @include color-theme($maw-pale-night-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

h3 {
    margin-top: 32px !important;
    margin-bottom: 8px !important;
}

.content-scroll-pane,
.content-scroll-pane-no-inner-toolbar {
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
}

.primary-nav-button {
    border-radius: 0 !important;

    & > .mat-icon {
        margin: 0 !important;
        font-size: 24px !important;
        height: 24px !important;
        width: 24px !important;
    }

    &:hover,
    &:focus,
    &.active {
        box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.14), 0 1px 0 0 rgba(0, 0, 0, 0.12);
    }
}

mat-card-title {
    padding-left: 16px;
}

@media (max-width: 800px) {
    .content-scroll-pane {
        /* 36px = height of primary nav */
        /* 29px = height of inner toolbar */
        height: calc(100vh - 36px - 29.25px);
        min-height: calc(100vh - 36px - 29.25px);
    }

    .content-scroll-pane-no-inner-toolbar {
        height: calc(100vh - 36px);
        min-height: calc(100vh - 36px);
    }
}
